<template id="base-template">
    <div class="panel panel-primary" style="display: inline-block; width: 300px; margin-right: 10px; vertical-align: top; white-space: normal;">
        <div class="panel-heading">
            <span id="room-name"></span>
            <span id="room-region"></span>
        </div>
        <div class="panel-body">
            <div id="storage"></div>
            <div id="terminal"></div>
            <div id="room-energy">
                <div style="display: flex;">
                    <div style="width: max-content; white-space: nowrap;">
                        <b>Energy</b>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-energy-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-energy-progress"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="room-towers">
                <div style="display: flex;">
                    <div style="width: max-content; white-space: nowrap;">
                        <b>Towers</b>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-towers-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-towers-progress"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="room-labs">
                <div style="display: flex;">
                    <div style="width: max-content; white-space: nowrap;">
                        <b>Labs</b>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-labs-energy-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-labs-energy"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="room-nukers">
                <div style="display: flex;">
                    <div style="width: max-content; white-space: nowrap;">
                        <b>Nuker</b>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-nukers-energy-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-nukers-energy"></span>
                        </div>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-nukers-ghodium-progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-nukers-ghodium"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="room-power-spawns">
                <div style="display: flex;">
                    <div style="width: max-content; white-space: nowrap;">
                        <b>Power Spawn</b>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-power-spawns-energy-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-power-spawns-energy"></span>
                        </div>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-power-spawns-power-progress-bar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-power-spawns-power"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="room-buy-queue" style="margin-left: 10px;">
                <b>Buy</b> <span id="room-buy-queue-resource">
            </div>
            <div id="room-lab-queue" style="margin-left: 10px;">
                <b>Create</b> <span id="room-lab-queue-resource">
            </div>
            <div id="room-labs-status" style="margin-left: 10px;">
            </div>
            <div id="room-construction">
                <div style="display: flex;">
                    <div style="width: max-content; white-space: nowrap;">
                        <b>Construction</b>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div id="room-construction-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="white-space: nowrap; color: black;">
                            <span id="room-construction-progress"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div div="room-lowest-wall">
                <b>Lowest Wall</b> <span id="room-lowest-wall-size"></span>
            </div>
            <div ng-repeat="source in room.source">
                <img src="https://s3.amazonaws.com/static.screeps.com/upload/mineral-icons/{{source.resource}}.png" /> {{source.amount}}<span ng-if="source.capacity">/{{source.capacity}}</span>
                <span style="width: max-content; white-space: nowrap;" ng-if="source.ttr">
                    <b>TTR</b> {{source.ttr}}
                </span>
            </div>
            <div ng-repeat="creeps in room.creeps" ng-class="{'text-danger': creeps.count === 0, 'text-warning': creeps.count < creeps.max}">
                <b>{{creeps.role}}</b> {{creeps.count}}/{{creeps.max}}
            </div>
            <div ng-repeat="creep in data.memory.creeps" ng-if="creep.room === name && creep.hits < creep.hitsMax" ng-class="{'text-warning': creep.hits / creep.hitsMax >= 0.8, 'text-danger': creep.hits / creep.hitsMax < 0.8}">
                <b>{{creep.name}}</b> {{creep.x}},{{creep.y}} {{creep.hits}}/{{creep.hitsMax}} {{(100 * creep.hits / creep.hitsMax).toFixed(0)}}%
            </div>
            <div ng-repeat="spawn in data.memory.spawns" ng-if="spawn.room === name && spawn.spawningName">
                <b>Spawning</b> {{spawn.spawningName}} {{spawn.spawningRemainingTime}}/{{spawn.spawningNeedTime}}
            </div>
            <div ng-repeat="hostile in data.memory.hostiles" ng-if="hostile.room === name" ng-class="{'text-warning': hostile.ownerUsername === 'Invader', 'text-danger': hostile.ownerUsername !== 'Invader'}">
                <b>{{hostile.ownerUsername}}</b> {{hostile.x}},{{hostile.y}} {{hostile.hits}}/{{hostile.hitsMax}} {{(100 * hostile.hits / hostile.hitsMax).toFixed(0)}}%
            </div>
        </div>
    </div>
</template>

<template id="store">
    <b><span id="store-name"></span></b> <span id="store-energy"></span> <span class="glyphicon glyphicon-plus store-resources-toggle" style="cursor: pointer;"></span>
    <div id="store-resources" class="store-resources-collapse" style="display: none; margin-left: 50px;"></div>
</template>

<template id="lab">
    <div style="display: inline-block; margin-right: 5px;">
        <span id="lab-resource"></span>
    </div>
</template>

<template id="resource">
    <span id="resource-amount"></span> <img id="resource-image" />
</template>
