<b>Mine Rooms</b>
<div style="white-space: nowrap; overflow-x: scroll;">
    <div ng-repeat="(name, room) in data.memory.rooms" ng-if="room.type === 'mine' || room.type === 'source'" ng-class="{panel: true, 'panel-primary': !room.unobservable, 'panel-danger': room.unobservable}" style="display: inline-block; width: 300px; margin-right: 10px; vertical-align: top; white-space: normal;">
        <div class="panel-heading">{{name}} ({{room.region}}, Supporting {{room.supportRoom}})</div>
        <div class="panel-body">
            <div style="display: flex;">
                <div ng-if="room.unobservable">Unobservable</div>
                <div ng-if="room.rcl" style="width: max-content; white-space: nowrap;">
                    <b>RCL</b> {{room.rcl}}
                    <b>TTD</b> {{room.ttd}}
                </div>
                <div ng-if="room.reservedUsername">
                    <b>Reserved</b> {{room.reservedUsername}}
                    <b>TTE</b> {{room.tte}}
                </div>
                <div ng-if="!room.reservedUsername && room.controller && !room.rcl">
                    <b>Unowned</b>
                </div>
            </div>
            <div ng-repeat="(store, storage) in room.store">
                <b>{{store}}</b> {{storage[0].amount}} <img src="https://s3.amazonaws.com/static.screeps.com/upload/mineral-icons/{{storage[0].resource}}.png" />
            </div>
            <div ng-if="room.constructionProgressTotal">
                <div style="display: flex;">
                    <div style="width: max-content; white-space: nowrap;">
                        <b>Construction</b>
                    </div>
                    <div class="progress" style="width: 100%; margin: 0 0 0 5px; break-after: always;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{room.constructionProgress.toFixed(0)}}" aria-valuemin="0" aria-valuemax="{{room.constructionProgressTotal.toFixed(0)}}" style="width: {{(100 * room.constructionProgress / room.constructionProgressTotal).toFixed(3)}}%; white-space: nowrap; color: black;">
                            {{room.constructionProgress.toFixed(0)}}/{{room.constructionProgressTotal.toFixed(0)}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="source in room.source" ng-class="{'text-muted': source.resource !== 'energy'}">
                <img src="https://s3.amazonaws.com/static.screeps.com/upload/mineral-icons/{{source.resource}}.png" /> {{source.amount}}<span ng-if="source.capacity">/{{source.capacity}}</span>
                <span style="width: max-content; white-space: nowrap;" ng-if="source.ttr">
                    <b>TTR</b> {{source.ttr}}
                </span>
            </div>
            <div ng-repeat="creeps in room.creeps" ng-class="{'text-danger': creeps.count === 0, 'text-warning': creeps.count < creeps.max}">
                <b>{{creeps.role}}</b> {{creeps.count}}/{{creeps.max}}
            </div>
            <div ng-repeat="creep in data.memory.creeps" ng-if="creep.room === name && creep.hits < creep.hitsMax" ng-class="{'text-warning': creep.hits / creep.hitsMax >= 0.8, 'text-danger': creep.hits / creep.hitsMax < 0.8}">
                <b>{{creep.name}}</b> {{creep.x}},{{creep.y}} {{creep.hits}}/{{creep.hitsMax}} {{(100 * creep.hits / creep.hitsMax).toFixed(0)}}%
            </div>
            <div ng-repeat="hostile in data.memory.hostiles" ng-if="hostile.room === name" ng-class="{'text-warning': hostile.ownerUsername === 'Invader', 'text-danger': hostile.ownerUsername !== 'Invader'}">
                <b>{{hostile.ownerUsername}}</b> {{hostile.x}},{{hostile.y}} {{hostile.hits}}/{{hostile.hitsMax}} {{(100 * hostile.hits / hostile.hitsMax).toFixed(0)}}%
            </div>
        </div>
    </div>
</div>
