<b>Unknown Rooms</b>
<div style="white-space: nowrap; overflow-x: scroll;">
    <div ng-repeat="(name, room) in data.memory.rooms" ng-if="['base', 'mine', 'cleanup'].indexOf(room.type) === -1" ng-class="{panel: true, 'panel-primary': !room.unobservable, 'panel-danger': room.unobservable}" style="display: inline-block; width: 300px; margin-right: 10px; vertical-align: top; white-space: normal;">
        <div class="panel-heading">{{name}}</div>
        <div class="panel-body" ng-if="room">
            <div style="display: flex;">
                <div ng-if="room.unobservable">Unobservable</div>
                <div ng-if="room.rcl" style="width: max-content; white-space: nowrap;">
                    <b>RCL</b> {{room.rcl}}
                    <b>TTD</b> {{room.ttd}}
                </div>
                <div ng-if="room.reservedUsername">
                    <b>Reserved</b> {{room.reservedUsername}}
                    <b>TTE</b> {{room.tte}}
                </div>
                <div ng-if="!room.reservedUsername && room.controller && !room.rcl">
                    <b>Unowned</b>
                </div>
            </div>
            <div ng-repeat="creeps in room.creeps" ng-class="{'text-danger': creeps.count === 0, 'text-warning': creeps.count < creeps.max}">
                <b>{{creeps.role}}</b> {{creeps.count}}/{{creeps.max}}
            </div>
            <div ng-repeat="creep in data.memory.creeps" ng-if="creep.room === name && creep.hits < creep.hitsMax" ng-class="{'text-warning': creep.hits / creep.hitsMax >= 0.8, 'text-danger': creep.hits / creep.hitsMax < 0.8}">
                <b>{{creep.name}}</b> {{creep.x}},{{creep.y}} {{creep.hits}}/{{creep.hitsMax}} {{(100 * creep.hits / creep.hitsMax).toFixed(0)}}%
            </div>
            <div ng-repeat="hostile in data.memory.hostiles" ng-if="hostile.room === name" ng-class="{'text-warning': hostile.ownerUsername === 'Invader', 'text-danger': hostile.ownerUsername !== 'Invader'}">
                <b>{{hostile.ownerUsername}}</b> {{hostile.x}},{{hostile.y}} {{hostile.hits}}/{{hostile.hitsMax}} {{(100 * hostile.hits / hostile.hitsMax).toFixed(0)}}%
            </div>
        </div>
    </div>
</div>
